<div class="temasContent">
	<h3 class=" text-muted text-center subtitulo font-weight-light">Selecione os temas que você mais tem interesse nas propostas de um candidato.</h3>
	<div class="row rowTemas">
		<div *ngFor= "let tema of themes_recomender" class="col-xs-6 col-sm-4 col-md-4 col-lg-4 text-center">
      <eqv-tema [tema]="tema"></eqv-tema>
      <mat-slider thumbLabel tickInterval="1" min="1" max="5" step="1" [(value)]="tema.peso" (input)='setSlidervalue($event,tema)' valVar="someValue"  ></mat-slider>
    </div>
  </div>

	<div class="row">

				<div class="col-md-6 col-md-offset-3">
					<button (click)= "goRecomender()"  class="btn btn-outline-success btn-xl text-uppercase">Buscar</button>

				</div>
	</div>

</div>
