<div class="container list-group">
  <h3 class="mb-4 text-center mt-4 font-weight-light">Candidatos Recomendados</h3>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Cargos</a></li>

    <li class="breadcrumb-item active" aria-current="page">Presidente da República</li>

  </ol>
</nav>
<div *ngFor= "let candidatos_recomendados of _candidatosLista">
  <a [routerLink]="['/candidato-detalhes']"  >
    <div class="card mt-2 ">
      <div class="card-body list-group-item list-group-item-action">
        <div class="media">
          <img class="foto-candidato mr-3"  src="../assets/img/candidatos/{{ candidatos_recomendados.candidate_political_party }}.jpg" >
          <div class="media-body">

              <li class="list-inline-item h3 card-title">{{candidatos_recomendados.candidate_name}}</li>
              <li class="list-inline-item h3 card-subtitle font-weight-light"> | {{candidatos_recomendados.candidate_political_party}}</li>

              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <!-- <p class="card-text text-truncate" sty
            le="max-width: 800px;">Luiz Inácio Lula da Silva é um político, ex-sindicalista e ex-metalúrgico brasileiro, o 35.º presidente do Brasil entre 2003 e 2011. Membro fundador e presidente de honra do Partido dos Trabalhadores, elegeu-se presidente da República na eleição de 2002, sendo reeleito em 2006. Atualmente, encontra-se cumprindo pena em Curitiba após ser condenado por corrupção.</p> -->

            <button type="button" (click)="getPerfil(candidatos_recomendados.candidate_cpf);"  class="mt-4 btn btn-outline-success pb-1">Ver Mais</button>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>




</div>
